<h2 matDialogTitle>Historial de precios de <strong>{{producto.nombre}}</strong></h2>
<div mat-dialog-content>
  <div class="boton-add"><a mat-mini-fab><mat-icon>add</mat-icon></a></div>
  <h4>Precio vigente:</h4>
  <table width="100%">
    <tr>
      <th>Fecha: {{precios[0].fecha}}</th><th>Precio: {{precios[0].precio}}</th>
    </tr>
  </table>
  <mat-divider></mat-divider>
  <h4>Historial de precios</h4>
  <mat-list>
    <ng-container *ngFor="let precio of precios">
      <mat-list-item>
        <mat-icon mat-list-icon>monetization_on</mat-icon>
        <h3 mat-line>{{precio.precio}}</h3>
        <p mat-line>{{precio.fecha}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Salir</button>
</div>
