<h2 matDialogTitle>Nuevo Pedido de Cocina</h2>
<mat-dialog-content>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Nombre" [(ngModel)]="nuevoPedido.nombre" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <textarea matInput placeholder="Observaciones" [(ngModel)]="nuevoPedido.observacion"></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="crearPedido()" type="button">Crear Pedido</button>
</mat-dialog-actions>
