<h2 matDialogTitle>Nuevo Producto</h2>
<div mat-dialog-content>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Código" [(ngModel)]="nuevoProducto.codigo" required autofocus (keyup.enter)="nombreForm.focus()">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Nombre" [(ngModel)]="nuevoProducto.nombre"
                 required #nombreForm (keyup.tab)="stockMinimoForm.focus()" (keyup.enter)="crearBtn.focus()">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Stock Mínimo" [(ngModel)]="nuevoProducto.stock_minimo" required #stockMinimoForm (keyup.enter)="crearBtn.focus()">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="IVA" [(ngModel)]="nuevoProducto.iva" required>
            <mat-option *ngFor="let iva of ivas" [value]="iva.valor">
              {{iva.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button color="accent" *ngIf="!catSeleccionada && categorias" type="button"
                (click)="seleccionarCategoria()">Seleccionar categoría</button>
        <ng-container *ngIf="catSeleccionada">
          <mat-form-field class="clickVer" (click)="seleccionarCategoria()">
            <input matInput disabled placeholder="Categoría" type="text" [(ngModel)]="categoriaSeleccionada.nombre"
                   class="clickVer" (click)="seleccionarCategoria()">
          </mat-form-field>
        </ng-container>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Unidad" [(ngModel)]="nuevoProducto.id_unidad" required>
            <mat-option *ngFor="let unidad of unidades" [value]="unidad.id">
              {{unidad.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="crearProducto()" #crearBtn>Crear</button>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</div>
