<mat-toolbar color="primary">
    <span>LA ESO CHASCOMÚS</span>
</mat-toolbar>
<div class="center-login">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>Bienvenido</h2>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Seleccione un módulo</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table width="100%">
              <tr>
                <td>
                  <button mat-raised-button color="primary" [routerLink]="['/stock']">STOCK</button>
                </td>
                <td>
                  <button mat-raised-button color="primary" [routerLink]="['/caja']">CAJA</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button mat-raised-button color="primary" [routerLink]="['/admin']">ADMIN</button>
                </td>
              </tr>
            </table>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="warn" routerLink="/login">Salir</button>
        </mat-card-footer>
    </mat-card>
</div>
