<h2 md-dialog-title>Recepción de mercadería</h2>
<md-dialog-content>
  <table>
    <tr>
      <td>
        <md-input-container>
          <input mdInput placeholder="Nro de Remito / Factura" [(ngModel)]="numeroRemito">
        </md-input-container>
      </td>
      <td>
        <button md-raised-button color="primary" *ngIf="!proveedorSeleccionado" type="button" (click)="seleccionarProveedor()">Proveedor...</button>
        <md-input-container *ngIf="proveedorSeleccionado" (click)="seleccionarProveedor()">
          <input mdInput disabled placeholder="Proveedor" [(ngModel)]="proveedor.denominacion" class="clickVer" (click)="seleccionarProveedor()">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput placeholder="Observaciones" [(ngModel)]="obs">
        </md-input-container>
      </td>
    </tr>
  </table>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button color="primary" type="button" (click)="crearRemito()">Cargar remito</button>
</md-dialog-actions>
