<h2 matDialogTitle>Recepción de mercadería</h2>
<mat-dialog-content>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Nro de Remito / Factura" [(ngModel)]="numeroRemito">
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="primary" *ngIf="!proveedorSeleccionado" type="button" (click)="seleccionarProveedor()">Proveedor...</button>
        <mat-form-field *ngIf="proveedorSeleccionado" (click)="seleccionarProveedor()">
          <input matInput disabled placeholder="Proveedor" [(ngModel)]="proveedor.denominacion" class="clickVer" (click)="seleccionarProveedor()">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Observaciones" [(ngModel)]="obs">
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="button" (click)="crearRemito()">Cargar remito</button>
</mat-dialog-actions>
