<div class="center-form">
  <mat-card>
    <mat-card-header><mat-card-title-group><h2>Detalle de producto</h2></mat-card-title-group></mat-card-header>
    <mat-card-content *ngIf="cargado">
      <table>
          <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Código" [disabled]="!edicion" [(ngModel)]="producto.codigo" required autofocus (keyup.enter)="nombreForm.focus()">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Nombre" [disabled]="!edicion" [(ngModel)]="producto.nombre"
                         required #nombreForm (keyup.tab)="stockMinimoForm.focus()">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Stock Mínimo" [disabled]="!edicion" [(ngModel)]="producto.stock_minimo" required #stockMinimoForm>
                </mat-form-field>
              </td>
              <td>
                <mat-select placeholder="IVA" [disabled]="!edicion" [(ngModel)]="producto.iva" required>
                  <mat-option *ngFor="let iva of ivas" [value]="iva.valor">
                    {{iva.label}}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr>
              <td>
                <mat-select placeholder="Categoría" [disabled]="!edicion" [(ngModel)]="producto.id_categoria" required>
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{categoria.nombre}}
                  </mat-option>
                </mat-select>
              </td>
              <td>
                <mat-select placeholder="Unidad" [disabled]="!edicion" [(ngModel)]="producto.id_unidad" required>
                  <mat-option *ngFor="let unidad of unidades" [value]="unidad.id">
                    {{unidad.nombre}}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr>
              <td>
                <mat-checkbox [disabled]="!edicion" [(ngModel)]="producto.es_ingrediente">
                  Es ingrediente de Menú
                </mat-checkbox>
              </td>
              <td>
                <mat-checkbox [disabled]="!edicion" [(ngModel)]="producto.es_adicional">
                  Es adicional de Cocina
                </mat-checkbox>
              </td>
            </tr>
      </table>
    </mat-card-content>
    <mat-card-actions *ngIf="cargado">
      <button mat-button color="primary" (click)="editar(true)" *ngIf="!edicion" type="button"><mat-icon>create</mat-icon>Modificar</button>
      <button *ngIf="edicion" mat-button color="accent" type="button" (click)="modificar()"><mat-icon>archive</mat-icon>Guardar</button>
      <button mat-button type="button" *ngIf="!edicion" color="primary" [routerLink]="[returnUrl]"><mat-icon>undo</mat-icon>Volver</button>
      <button mat-button color="primary" (click)="editar(false)" type="button" *ngIf="edicion"><mat-icon>clear</mat-icon>Cancelar</button>
      <button mat-button color="warn" type="button" class="botones-derecha" (click)="borrar()"><mat-icon>remove_circle_outline</mat-icon>Borrar</button>
    </mat-card-actions>
  </mat-card>
</div>
