<h2 matDialogTitle>Seleccionar proveedor</h2>
<mat-dialog-content>
  <table width="100%">
    <mat-form-field>
      <input matInput placeholder="Filtrar por denominación..." [(ngModel)]="filtroNombre" />
    </mat-form-field>
  </table>
  <mat-list>
    <mat-list-item class="clickVer" *ngFor="let proveedor of proveedores | filtro: {denominacion: filtroNombre}" (click)="dialogRef.close(proveedor.id)">
      <mat-icon mat-list-icon>person</mat-icon>
      <h4 matLine><strong>{{proveedor.denominacion}}</strong></h4>
      <p matLine><strong>Teléfono: </strong>{{proveedor.telefono}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-dialog-content>
