<h2 matDialogTitle>Agregar producto al remito {{idRemito}}</h2>
<div mat-dialog-content>
  <mat-list>
    <div *ngIf="seleccionar">
      <mat-input-container>
        <input matInput type="text" placeholder="Código..." [(ngModel)]="busquedaCodigo">
      </mat-input-container>
      <mat-input-container>
        <input matInput type="text" placeholder="Nombre..." [(ngModel)]="busquedaNombre">
      </mat-input-container>
      <mat-list-item *ngFor="let producto of productos | filtro: {codigo: busquedaCodigo, nombre: busquedaNombre} | slice:0:5"
                     (click)="seleccionarProducto(producto.id)">
        <p mat-line>{{producto.codigo + ' | ' + producto.nombre}}</p>
      </mat-list-item>
    </div>
    <div *ngIf="!seleccionar">
      <h3>{{productoNuevo.nombre}}</h3>
      <table>
        <tr>
          <td>
            <mat-input-container>
              <input matInput type="number" placeholder="Cantidad..." [(ngModel)]="productoNuevo.cantidad">
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input matInput type="number" placeholder="Costo..." [(ngModel)]="productoNuevo.costo">
            </mat-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <mat-input-container>
              <input matInput type="date" placeholder="Fecha de vencimiento..." [(ngModel)]="productoNuevo.fecha_vencimiento">
            </mat-input-container>
          </td>
          <td>
            <mat-checkbox [(ngModel)]="tieneIva">IVA Incluído</mat-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </mat-list>
</div>
<div mat-dialog-actions>
  <div *ngIf="!seleccionar">
    <button mat-raised-button color="primary" (click)="guardarProductoNuevo(false)">Aceptar y continuar</button>
    <button mat-raised-button color="accent" (click)="guardarProductoNuevo(true)">Aceptar y salir</button>
  </div>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</div>
