<h2 md-dialog-title>Editar Usuario</h2>
<div md-dialog-content>
  <table>
    <tr>
      <td>
        <md-input-container>
          <input mdInput required disabled placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput placeholder="Nombre completo" [(ngModel)]="usuario.nombre_apellido">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput placeholder="Email" [(ngModel)]="usuario.email">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput placeholder="Teléfono" [(ngModel)]="usuario.telefono">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput placeholder="Dirección" [(ngModel)]="usuario.direccion">
        </md-input-container>
      </td>
      <td>
        <md-select placeholder="Rol" [(ngModel)]="usuario.id_rol">
          <md-option *ngFor="let rol of roles" [value]="rol.id" >
            {{rol.nombre}}
          </md-option>
        </md-select>
      </td>
    </tr>
  </table>
  <md-input-container>
    <input mdInput type="password" required placeholder="Contraseña" [(ngModel)]="clave1">
  </md-input-container>
  <md-input-container>
    <input mdInput type="password" required placeholder="Repita la contraseña" [(ngModel)]="clave2">
  </md-input-container>
</div>
<div md-dialog-actions>
  <button md-raised-button color="primary" #crearBtn (click)="guardar()">Guardar</button>
  <button md-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</div>
