<mat-toolbar color="primary">
    <span>LA ESO CHASCOMÚS</span>
</mat-toolbar>
<div class="center-login">
    <form name="loginForm" (ngSubmit)="login()">
        <mat-card>
            <mat-form-field style="width: 100%">
                <input matInput [disabled]="loading" type="email" placeholder="Usuario" maxlength="50" required name="username" [(ngModel)]="model.username">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [disabled]="loading" type="password" placeholder="Contraseña" maxlength="50" required name="password" [(ngModel)]="model.password">
            </mat-form-field>
            <button mat-raised-button [disabled]="loading" color="primary">Iniciar sesión</button>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card>
    </form>
</div>
