<div class="center-agenda">
  <md-card>
    <div class="boton-add">
      <a md-fab (click)="nuevoProducto()" (keyup.enter)="nuevoProducto()" #nuevoProd><md-icon>add</md-icon></a>
    </div>
    <md-card-header>
      <md-card-title-group>
        <h2>Productos</h2>
      </md-card-title-group>
    </md-card-header>

    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Nombre..." [(ngModel)]="filtroNombre" />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Código..." [(ngModel)]="filtroCodigo" />
      </md-input-container>
      <md-select placeholder="Categoría" [(ngModel)]="filtroCat">
        <md-option *ngFor="let cat of categorias" [value]="cat.nombre">
          {{cat.nombre}}
        </md-option>
      </md-select>
      <button md-button color="warn" (click)="sacarFiltro()">Quitar filtro</button>
      <table width="100%">
        <tr>
          <th *ngFor="let columna of columnas">{{columna.label}}</th>
        </tr>
        <tr *ngFor="let producto of productosFull | filtro: {nombre: filtroNombre, categoria: filtroCat, codigo: filtroCodigo}" class="clickVer hover" (click)="router.navigate(['stock/productos/' + producto.id])">
          <td *ngFor="let columnaProd of columnas">{{producto[columnaProd.name]}}</td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
