<div class="center-agenda">
  <mat-card>
    <div class="boton-add">
      <a mat-fab (click)="nuevoProducto()" (keyup.enter)="nuevoProducto()" #nuevoProd><mat-icon>add</mat-icon></a>
    </div>
    <mat-card-header>
      <mat-card-title-group>
        <h2>Productos</h2>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nombre..." [(ngModel)]="filtroNombre" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Código..." [(ngModel)]="filtroCodigo" />
      </mat-form-field>
      <mat-select placeholder="Categoría" [(ngModel)]="filtroCat">
        <mat-option *ngFor="let cat of categorias" [value]="cat.nombre">
          {{cat.nombre}}
        </mat-option>
      </mat-select>
      <button mat-button color="warn" (click)="sacarFiltro()">Quitar filtro</button>
      <table width="100%">
        <tr>
          <th *ngFor="let columna of columnas">{{columna.label}}</th>
        </tr>
        <tr *ngFor="let producto of productosFull | filtro: {nombre: filtroNombre, categoria: filtroCat, codigo: filtroCodigo} | slice:0:20" class="clickVer hover" (click)="router.navigate(['stock/productos/' + producto.id])">
          <td *ngFor="let columnaProd of columnas">{{producto[columnaProd.name]}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
