<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title-group>
        <h2>Proveedores</h2>
      </md-card-title-group>
    </md-card-header>
    <div class="boton-add">
      <a md-fab (click)="nuevoProveedor()"><md-icon>add</md-icon></a>
    </div>
    <md-card-content>
      <md-list>
        <md-list-item class="clickVer" *ngFor="let proveedor of proveedores" (click)="router.navigate(['/stock/proveedores/' + proveedor.id]);">
          <md-icon md-list-icon>person</md-icon>
          <h4 md-line><strong>Denominación: </strong>{{proveedor.denominacion}}</h4>
          <p md-line><strong>Teléfono: </strong>{{proveedor.telefono}}</p>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-card-content>
  </md-card>
</div>
