<mat-sidenav-container class="mat-app-background">
    <mat-sidenav #sidenav mode="over" align="end">
        <button mat-button color="accent" class="boton-sidenav" (click)="sidenav.toggle()" [routerLink]="['/stock']">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
        <br>
        <button mat-button class="boton-sidenav" (click)="sidenav.toggle()" [routerLink]="['/stock/productos']">
      <mat-icon>local_mall</mat-icon>
      <span>Productos</span>
    </button>
        <br>
        <button mat-button class="boton-sidenav" (click)="sidenav.toggle()" [routerLink]="['/stock/proveedores']">
      <mat-icon>people</mat-icon>
      <span>Proveedores</span>
    </button>
      <button mat-button class="boton-sidenav" (click)="sidenav.toggle()" [routerLink]="['/stock/stock-productos']">
        <mat-icon>widgets</mat-icon>
        <span>Stock</span>
      </button>
        <br>
        <mat-divider></mat-divider>
        <button mat-button class="boton-sidenav" color="accent" (click)="sidenav.toggle()" [routerLink]="['/stock/configuraciones']">
      <mat-icon>settings_ethernet</mat-icon>
      <span>Configuraciones</span>
    </button>
        <br>
        <mat-divider></mat-divider>
        <button mat-button class="boton-sidenav" color="warn" (click)="sidenav.toggle()" [routerLink]="['/']">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <span>LA ESO CHASCOMÚS - STOCK</span>
        <span class="espacio-toolbar"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="icono-toolbar">more_vert</mat-icon>
    </button>
    </mat-toolbar>
    <app-spinner></app-spinner>
    <div class="contenido-app">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
