<div class="center">
  <mat-card>
    <button mat-raised-button color="primary" type="button">Nuevo pedido</button>
    <mat-card-header>
      <mat-card-title>
        <h3>Pedidos pendientes</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table width="100%">
        <tr>
          <th>Numero</th><th>Fecha</th><th>Nombre</th><th>Observaciones</th>
        </tr>
        <tr class="clickVer" [routerLink]="['/']" *ngFor="let pedido of pedidosPendientes">
          <td>pedido.id</td>
          <td>pedido.fecha</td>
          <td>pedido.nombre</td>
          <td>pedido.observacion</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Pedidos en cocina</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table width="100%">
        <tr>
          <th>Numero</th><th>Fecha</th><th>Nombre</th><th>Observaciones</th>
        </tr>
        <tr class="clickVer" [routerLink]="['/']" *ngFor="let pedido of pedidosCerrados">
          <td>pedido.id</td>
          <td>pedido.fecha</td>
          <td>pedido.nombre</td>
          <td>pedido.observacion</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
