<md-sidenav-container class="mat-app-background">
  <md-sidenav #sidenav mode="over" align="end">
    <button md-button color="accent" class="boton-sidenav" (click)="sidenav.toggle()" [routerLink]="['/caja']">
      <md-icon>home</md-icon>
      <span>Inicio</span>
    </button>
    <br>
    <md-divider></md-divider>
    <button md-button class="boton-sidenav" color="warn" (click)="sidenav.toggle()"  [routerLink]="['/']">
      <md-icon>exit_to_app</md-icon>
      <span>Salir</span>
    </button>
  </md-sidenav>
  <md-toolbar color="primary">
    <span>LA ESO CHASCOMÚS - CAJA</span>
    <span class="espacio-toolbar"></span>
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="icono-toolbar">more_vert</md-icon>
    </button>
  </md-toolbar>
  <app-spinner></app-spinner>
  <div class="contenido-app">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
