<h2 matDialogTitle>Nuevo ajuste de stock</h2>
<div mat-dialog-content>
  <table width="100%">
    <tr>
      <td>
        <button mat-raised-button color="accent" *ngIf="!prodSeleccionado" (click)="seleccionarProducto()">Seleccionar producto</button>
        <ng-container *ngIf="prodSeleccionado">
          <mat-form-field>
            <input matInput disabled [(ngModel)]="producto.nombre">
          </mat-form-field>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent">Aceptar y salir</button>
  <button mat-button color="warn">Cancelar</button>
</div>
