/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
}

.center-login {
  margin: auto;
  width: 70%;
}

.center {
  margin: auto;
  width: 90%;
}

.center-form {
  margin: auto;
  width: 80%;
}

.center-print {
  margin: auto;
  max-width: 95%;
}

.center-agenda {
  margin: auto;
  max-width: 98%;
}

th,
td {
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .center-login {
    margin: auto;
    width: 20%;
  }
  .center {
    margin: auto;
    width: 60%;
  }
  .center-form {
    margin: auto;
    width: 40%;
  }
  .center-agenda {
    margin: auto;
    max-width: 85%;
  }
  .center-print {
    margin: auto;
    max-width: 85%;
  }
}

.clickVer {
  cursor: pointer;
}

.botones-derecha {
  right: auto;
  float: right;
}

.boton-sidenav {
  width: 100%;
}

.boton-add {
  float: right;
  margin-top: 1%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
