<h2 matDialogTitle>Nuevo Proveedor</h2>
<div mat-dialog-content>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Denominación" [(ngModel)]="nuevoProveedor.denominacion" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Nombre" [(ngModel)]="nuevoProveedor.nombre">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Teléfono" [(ngModel)]="nuevoProveedor.telefono">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="nuevoProveedor.email">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Dirección" [(ngModel)]="nuevoProveedor.direccion">
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="crearProveedor()">Crear</button>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</div>
