<h2 md-dialog-title>Nuevo Proveedor</h2>
<div md-dialog-content>
  <table cellspacing="0">
    <tr>
      <td>
        <md-input-container>
          <input mdInput placeholder="Denominación" [(ngModel)]="nuevoProveedor.denominacion" required>
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput placeholder="Nombre" [(ngModel)]="nuevoProveedor.nombre">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput placeholder="Teléfono" [(ngModel)]="nuevoProveedor.telefono">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput placeholder="Email" [(ngModel)]="nuevoProveedor.email">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput placeholder="Dirección" [(ngModel)]="nuevoProveedor.direccion">
        </md-input-container>
      </td>
    </tr>
  </table>
</div>
<div md-dialog-actions>
  <button md-raised-button color="primary" (click)="crearProveedor()">Crear</button>
  <button md-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</div>
